/* Fonts + globala variabler */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Righteous&display=swap');

/* Färgvariabler */
:root {
    --orange:            #E09A31;
    --dark-grey:         #252932;
    --light-grey:        #F2F2F2;
    --paragraf-grey:     #313131;
    --text-shadow:       rgba(0, 0, 0, 0.43);
    --box-shadow:        rgba(37, 41, 50, .8);
    --card-box-shadow:   rgba(0, 0, 0, 0.25);
    --bowling-bg:        #A4B0BE;
    --cheers-bg:         #57606F; 
    --apple-bg:          #747D8C;
    --jonglera-bg:       #2F3542;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Länk Aktiv */
.link__active {
    text-decoration: none;
    color: var(--orange)
}

.nav-wrapper__list-hidden {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
}

.link__center { text-align: center; }

.bg-overlay { box-shadow: inset 1px 56.25rem var(--box-shadow); }

.text-head__width { 
    text-align: center;
}

/* Element */
/* Body och en no-margin för återanvändning */
body, 
.no-margin { 
    margin: 0; 
}

/* Rubriker och paragraf - standardtext */
a { text-decoration: none;}

h2,
h3,
p { 
    color: var(--paragraf-grey);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Rubrik med fasta egenskaper */
h1 {
    font-family: 'Righteous', cursive;
    font-weight: 500;
    color: var(--light-grey);
    font-size: 3rem;
    text-shadow: 4px 4px 4px var(--text-shadow);
}

/* figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
} */

/* Navigation bar */
/* Navigation container */
.nav__container {
    position: fixed;
    background: var(--dark-grey);
    width: 100%;
    align-items: center;
}

.nav__container--wrap-img {
    display: flex;
    flex: 1;
}

/* Navigation wrapper */
.nav-wrapper {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background: var(--dark-grey);
    padding: .625rem;
    display: flex;
    max-width: 1150px;
}

    /* Logotyp */
.nav-wrapper__logotype { 
    padding-top: .3rem; 
    margin: auto 0;
}

    /* Listknapp till dropdown-meny */
.nav-wrapper__list-button {
    font-size: 3rem;
    color: var(--light-grey);
    padding-right: 1rem;
    
}

    /* Dropdown-menyn */
.nav-wrapper__list-hidden { 
    display: none;
    position: fixed; 
    width: 100%;
    top: 4.25rem; 
    right: 0;
    margin: 0;
    padding-left: 2rem;
    background: var(--dark-grey);
}


.nav-wrapper__list-hidden-link {
    display: flex;
    max-width: 100%;
    padding-left: .5rem;
}

.nav__link {
    text-decoration: none;
    color: var(--light-grey);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
}

.link__active { color: var(--orange); }

.caret__active-link {
    width: .7rem;
    margin-right: .8rem;
}

.nav-wrapper__list-hidden-link:hover {
    background: var(--light-grey);
    color: var(--dark-grey)
}

    /* Visa / dölj dropdownmeny */
.dropdown__show { display: block; }

/* Header */
/* Bakgrundsbilder för olika sidor */
.index__h-wrapper { background: url('../assets/jpg/castle.jpg') no-repeat; }
.activities__h-wrapper { background: url('../assets/jpg/kulturhus.jpg') no-repeat; }
.boende__h-wrapper { background: url('../assets/large/tent.jpg') no-repeat;}
.nojen__h-wrapper {background: url('../assets/large/entertainment.jpg') no-repeat; }
.kontakt__h-wrapper {background: url('../assets/large/thinking1.jpg') no-repeat;}

.h-wrapper-left{
    background-size: cover;
    background-position: center;
    height: 46.5625rem;
    padding: 0 0; 
}

.h-wrapper-right {
    display: grid;
    justify-content: flex-end; 
    background-size: cover;
    background-position: center;
    height: 46.5625rem;
    padding: 0 0; 
}

    /* Artikeln i headern */
.bg-overlay__container {
    max-width: 13rem;
    display: grid;
    min-height: 100%;
}
.h-item__articles {
    flex-wrap: wrap;
    padding: 11.5rem .5rem 0 .5rem;
    text-align: center;
}

    /* Paragrafen i headern */
.h-item__articles-p {
    color: var(--light-grey);
    text-shadow: 4px 4px 4px var(--text-shadow);
}

/* Main */
    /* Kortens wrapper */
.main__card-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    /* Populärt just nu rubrik */
.card-wrapper__h2 { 
    padding: 2rem;
}

.card-wrapper__contact-h2 {
    padding: 0;
}
   
    /* Korten */
.card-wrapper__card {
    display:            flex;
    flex-direction:     column;
    max-width:          18.8125rem;
    justify-content:    center;
    align-items:        center;
    margin:             0 auto 5rem auto;
    box-shadow:         1px 1px 6px 0px var(--card-box-shadow);
}

    /* Kortens bild */
.card-wrapper__card-image {
    max-width: 18.8125rem; 
    border-radius: 0.3125rem;
}
    /* Kortens rubrik */
.card-wrapper__card-h3 { 
    font-size: 1.2rem;
    margin: 0.8rem 1.25rem;
}
    /* Kortens paragraf */
.card-wrapper__card-p {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 1rem;
}

/* Hållbar framtid bakgrund */
.future-article__bg {
    background: linear-gradient(to bottom, rgb(37 41 50 / 37%), rgb(37 41 50)), url('../assets/large/coal.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
    padding: 1.5rem 1rem 2rem 1rem;
}

    /* Framtidens paragraf */
.future-item__articles-p {
    padding-top: 1.6rem;
    color: var(--light-grey);
    text-shadow: 4px 4px 4px var(--text-shadow);
}

/* Aktiviteter */
    /* Svampplock */
.activities__container {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    max-width: 350px;
    margin: auto;
}

.activities__item-img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Footer */
.footer-wrapper { 
    background: var(--dark-grey);
    text-align: center;
    padding-top: 2.4rem;
}

/* Länkarna i footern */
.footer-wrapper__ul { 
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0; 
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
}

/* Uppåtknapp i footer */
.footer__button-up { 
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: var(--dark-grey);
}

/* SVG för uppåtknapp - även länk */
.footer__button-up__arrow {
    display: inline-block;
    max-width: 100%;
    margin: .1rem auto 0 auto;
    color: var(--dark-grey);
}


.ent__squares-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    max-width: 1150px;
}

.ent__squares-container-fig {
    height: 10rem;
    display: block;
    margin: 5rem auto 0 auto;
}


.ent__squares-container-1 { background-color: var(--dark-grey); width: 100%;}
.ent__squares-container-2 { background-color: var(--apple-bg); width: 100%;}
.ent__squares-container-3 { background-color: var(--cheers-bg); width: 100%;}
.ent__squares-container-4 { background-color: var(--jonglera-bg); width: 100%;}
.ent__container-overlay { text-align: center; }

.ent__squares-container-link {
    text-decoration: none;
    color: var(--light-grey);
    text-shadow: 4px 4px 4px var(--text-shadow);
}

.ent__container-size {
    display: inline-block;
    max-width: 1150px; 
    height: 375px;
}

.ent__container-overlay-h3 {
    color: var(--light-grey);
    font-weight: 500;
    text-shadow: 4px 4px 4px var(--text-shadow);
    text-align: center;
    font-size: 1.4rem;
}

.contact__container__forms {
    display: grid;
    grid-template-areas: "n n n"
                         "t t t"
                         "e e e"
                         "p p p"
                         "m m m"
                         "m m m";
}

.contact__container__forms-name { grid-area: n;}
.contact__container__forms-phone { grid-area: t;}
.contact__container__forms-email{  grid-area: e;}
.contact__container__forms-ssnumber { grid-area: p;}
.contact__container__forms-message { grid-area: m;}

.contact__container__forms-name,
.contact__container__forms-phone,
.contact__container__forms-email,
.contact__container__forms-message,
.contact__container__forms-ssnumber {
    margin: 0 auto .3rem auto;
    box-shadow: 1px 1px 3px 0px var(--card-box-shadow);
    min-width: 90%;
    max-width: 90%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--apple-bg);
    color: var(--apple-bg);
    padding-left: .5rem;
    font-family: 'Poppins', sans-serif;
}

.contact__container__forms-message { 
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    height: 10rem;
    padding-top: .5rem;
    width: 90%;
    margin: 0 auto .2rem auto;
}

.contact__social-media__container {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    grid-template-areas:    "icon icon icon"
                            "adr adr adr";
}
.contact__social-media__container-item {
    grid-area: icon;
    font-size: 4rem;
    color: var(--dark-grey);
    margin: 0;
}

.contact__social-media__container-adr {
    display: none;
    grid-area: adr;
    background: var(--dark-grey);
    margin: 0 0 .5rem 0;
    padding: 1rem 1rem;
}

.contact__social-media__container-adr h3 {
    text-align: left;
    font-weight: 300;
    color: var(--light-grey);
}

.send__button-container {
    text-align: center;
}

.send__button {
    background: var(--dark-grey);
    color: var(--orange);
    padding: .5rem;
    margin: 0 auto 2rem auto;
    align-items: center;
    justify-content: center;
    width: 93%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}


/* SVG-animationer */
        
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(-360deg); }
}

    /* SVG-animation vid hover */
.ent__squares-container-fig:hover { animation: spin .6s linear infinite; }

/* Desktop */
@media screen and (min-width:850px) {
    /* Rubriker */
    h1 { font-size: 4rem; }

    /* header-wrapper för index-sida */
    .index__h-wrapper { background-position-y: -15rem; }

    .h-wrapper-right {
        display: block;
        justify-content: unset; 
    }

    /* Menyn och navbar */
    .desktop__hidden { display: none; }

    .nav-wrapper__list-hidden { 
        position: initial;
        display: flex;
        flex: 1;
        width: 100%;
        right: 0;
        margin: 0;
        background: var(--dark-grey);
        place-items: center;
    }
    .nav__container--wrap-img {
        display: flex;
        flex: 1;
    }

    .nav-wrapper {
        margin: 0 auto;
        padding: 0 .625rem;
        height: 4.25rem;
    }

    .nav-wrapper__list-hidden-link {
        padding: 1.155rem .5rem;
        margin-left: .4rem;
    }

    .nav__link:hover { background: var(--light-grey); }
    
    /* Mörkt overlay för synlig text */
    .bg-overlay {
        max-width: 22.75rem;
    }

    .bg-overlay__container {
        max-width: 1220px;
        display: grid;
        margin: 0 auto;
        min-height: 100%;
        justify-content: end;
    }
    /* För overlay på vänster sida */
    .bg-overlay__container-left { justify-content: unset; }

    .h-item__articles-p { max-width: 30ch; margin: 0 auto;}

    .main__card-wrapper {
        display: grid;
        grid-template-areas:"p p p"
                            "c1 c2 c3"
                            "c4 c5 c6";
        justify-content: space-between;
        text-align: center;
        margin: 0 auto 5rem auto;
        max-width: 1150px;
    }

    .card-wrapper__h2   { grid-area: p; }
    .card__grid-c1      { grid-area: c1; display: block;}
    .card__grid-c2      { grid-area: c2; display: block;}
    .card__grid-c3      { grid-area: c3; display: block;}
    .card__grid-c4      { grid-area: c4; display: block;}
    .card__grid-c5      { grid-area: c5; display: block;}
    .card__grid-c6      { grid-area: c6; display: block;}

    .future-article__bg-wrapper {
        max-width: 1220px;
        margin: auto;
    }

    /* Framtiden (index) */
    .future-article__bg {
        background:  url(../assets/jpg/coal.jpg) no-repeat;
        background-size: cover;
        background-position-x: center;
        padding: 0;
    }

    /* Mör ruta bakom text */
    .future-article__bg-overlay {
        max-width: 30rem;
        box-shadow: inset 1px 56.25rem var(--box-shadow);
        padding: 2rem;
    }

    /* Container för aktiviteter */
    .activities__container {
        display: grid;
        grid-template-areas:"a1 a1"
                            "a2 a2" 
                            "a3 a3"
                            "a4 a4"
                            "a5 a5"
                            "a6 a6";
        justify-content: space-around;
        text-align: center;
        margin: 0 auto 5rem auto;
        max-width: 900px;
    }

    /* Varje aktivitet */
    .activities__grid-a1 { grid-area: a1; margin-bottom: 5rem;}
    .activities__grid-a2 { grid-area: a2; margin-bottom: 5rem;}
    .activities__grid-a3 { grid-area: a3; margin-bottom: 5rem;}
    .activities__grid-a4 { grid-area: a4; margin-bottom: 5rem;}
    .activities__grid-a5 { grid-area: a5; margin-bottom: 5rem;}
    .activities__grid-a6 { grid-area: a6; margin-bottom: 5rem;}
    .activities__grid-a7 { grid-area: a7; margin-bottom: 5rem;}
    .activities__grid-a8 { grid-area: a8; margin-bottom: 5rem;}

    .ent__squares-container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
        max-width: 1150px;
        margin: 0 auto 4rem auto;
    }

    .ent__container-size {
        display: inline-block;
        max-width: 1150px; 
        height: 575px;
    }

    .ent__squares-container-fig {
        margin-top: 10rem;
        padding: 0;
    }

    .contact__container {
        max-width: 1150px;
        margin: 0 auto;
    }
    .contact__container__forms {
        display: grid;
        grid-template-areas: "n m m"
                             "t m m"
                             "e m m"
                             "p m m"; 
        margin-bottom: 1rem;
    }

    .contact__social-media__container {
        max-width: 600px;
        margin: 0 auto 5rem auto;
    }

    .contact__social-media__container-item {
        font-size: 7rem;
        cursor: pointer;
    }
    .contact__social-media__container-adr {
        padding: 1rem 4.8rem;
        max-width: 17rem;
        justify-self: end;
        
    }

    .send__button-container {
        text-align: right;
        margin-right: 2rem;
    }
    
    .send__button {
        background: var(--dark-grey);
        color: var(--light-grey);
        padding: .5rem;
        margin: 0 auto 2rem auto;
        align-items: center;
        justify-content: center;
        width: 20%;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

