<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Aktiviteter | Upplev Örebro</title>
    <script src="https://kit.fontawesome.com/cfec937611.js" crossorigin="anonymous"></script>

</head>

<body id="the__top">

    <nav class="nav__container">
        <!-- Navigation bar -->
        <section class="nav-wrapper">
            <section class="nav__container--wrap-img"><a href="#the__top" class="nav-wrapper__logotype"><img
                        src="/assets/svg/logo.svg" alt="Logotyp för Upplev Örebro"></a></section>
            <!-- Menyknapp ska ändra riktning och peka nedåt när aktiv -->
            <a onclick="menudropdown()" class="desktop__hidden">
                <i class="fas fa-angle-double-left nav-wrapper__list-button"></i>
                <!-- <img src="/assets/svg/arrow.svg" alt="Menyknapp för dropdown" > -->
            </a>
            <ul class="nav-wrapper__list-hidden" id="dropDownMenu">

                <a href="../index.html" class="nav__link">
                    <li class="nav-wrapper__list-hidden-link">
                        <img src="/assets/svg/caret2.svg" alt="" class="caret__active-link">Hem
                    </li>
                </a>
                <a href="#activity" class="nav__link link__active">
                    <li class="nav-wrapper__list-hidden-link">

                        <img src="/assets/svg/caret.svg" alt="" class="caret__active-link">Aktiviteter

                    </li>
                </a>

                <a href="boende.html" class="nav__link">
                    <li class="nav-wrapper__list-hidden-link">
                        <img src="/assets/svg/caret2.svg" alt="" class="caret__active-link">Boende
                    </li>
                </a>


                <a href="nojen.html" class="nav__link">
                    <li class="nav-wrapper__list-hidden-link">
                        <img src="/assets/svg/caret2.svg" alt="" class="caret__active-link">Nöjesliv
                    </li>
                </a>


                <a href="kontakt.html" class="nav__link">
                    <li class="nav-wrapper__list-hidden-link">
                        <img src="/assets/svg/caret2.svg" alt="" class="caret__active-link">Kontakt
                    </li>
                </a>

            </ul>
        </section>
    </nav>

    <header class="activities__h-wrapper h-wrapper-right">
        <!-- Header blir wrapper -->
        <!-- Hero -->
        <section class="bg-overlay__container">
            <section class="bg-overlay">
                <section class="h-item__articles text-head__width">
                    <!-- Bakgrund -->
                    <article class="">
                        <h1 class="no-margin">
                            Utflykt i Örebro
                        </h1>
                    </article>

                    <article>
                        <p class="h-item__articles-p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem corporis delectus quos
                            natus
                            aspernatur amet distinctio asperiores libero, tenetur explicabo iure provident quia placeat
                            ut
                            sunt
                            laborum hic nulla laudantium.
                        </p>
                    </article>
                </section>
            </section>
        </section>
    </header>

    <main class="main__card-wrapper">
        <!-- Main -->
        <!-- Rubrik -->
        <h2 class="card-wrapper__h2" id="activity">
            Aktiviteter i Örebro med omnejd
        </h2>
        <!-- Sex kort -->
        <a href="#utsikt" class="card-wrapper__card card__grid-c3">
            <section>
                <figure class="no-margin">
                    <img src="/assets/jpg/utsikt.jpg" alt="Utsikt över trädtoppar" class="card-wrapper__card-image">
                </figure>
                <article>
                    <h3 class="card-wrapper__card-h3">
                        Njut av en storslagen utsikt i Ånnaboda
                    </h3>

                    <p class="card-wrapper__card-p">
                        Ånnaboda bjuder på såväl camping och skidbackar men även en natur som är den överlägset
                        vackraste i
                        Sverige.
                    </p>
                </article>
            </section>
        </a>
        <a href="#" class="card-wrapper__card card__grid-c1">
            <section>
                <figure class="no-margin">
                    <img src="/assets/jpg/svamp.jpg" alt="Giftig flugsvamp" class="card-wrapper__card-image">
                </figure>
                <article>
                    <h3 class="card-wrapper__card-h3">
                        Svampplock i Varbergaskogen
                    </h3>

                    <p class="card-wrapper__card-p">
                        Svampsläktet som växer längs spåret i Varbega är kända för deras distinkta och vassa smak. För
                        den
                        erfarna plockaren.
                    </p>
                </article>
            </section>
        </a>
        <a href="#beaver" class="card-wrapper__card card__grid-c2">
            <section>
                <figure class="no-margin">
                    <img src="/assets/jpg/beaver.jpg" alt="Glad simmande bäver" class="card-wrapper__card-image">
                </figure>
                <article>
                    <h3 class="card-wrapper__card-h3">
                        Bäversafari i Kvismare kanal
                    </h3>

                    <p class="card-wrapper__card-p">
                        Möt naturens möbelsnickare, bävern, längs med Kvismare kanal!
                    </p>
                </article>
            </section>
        </a>
        <a href="#camping" class="card-wrapper__card card__grid-c4">
            <section>
                <figure class="no-margin">
                    <img src="/assets/jpg/camping.jpg" alt="Utsikt över trädtoppar" class="card-wrapper__card-image">
                </figure>
                <article>
                    <h3 class="card-wrapper__card-h3">
                        Campa vid Gustavsvik
                    </h3>

                    <p class="card-wrapper__card-p">
                        I direkt anslutning till järnväg och industriområde ligger natursköna Gustavsviks campingområde.
                    </p>
                </article>
            </section>
        </a>
        <a href="#cykel" class="card-wrapper__card card__grid-c5">
            <section>
                <figure class="no-margin">
                    <img src="/assets/jpg/cykel.jpg" alt="Giftig flugsvamp" class="card-wrapper__card-image">
                </figure>
                <article>
                    <h3 class="card-wrapper__card-h3">
                        Urban extremcykling
                    </h3>

                    <p class="card-wrapper__card-p">
                        Med ett välutvecklat vägnät blir cykelturen i stadskärnan en god upplevelse för både barn och
                        vuxna.
                    </p>
                </article>
            </section>
        </a>
        <a href="#flygplats" class="card-wrapper__card card__grid-c6">
            <section>
                <figure class="no-margin">
                    <img src="/assets/jpg/flygplan.jpg" alt="Glad simmande bäver" class="card-wrapper__card-image">
                </figure>
                <article>
                    <h3 class="card-wrapper__card-h3">
                        Lanna flygplats
                    </h3>

                    <p class="card-wrapper__card-p">
                        Många väljer att fly ifrån Örebro. I ett fraktflygplan på Lanna kan du med enkelhet smugglas ut
                        ur Örebro.
                    </p>
                </article>
            </section>
        </a>
    </main>

    <section class="activities__container">
        <section class="activities__grid-a1">
            <figure>
                <img src="../assets/large/svamp.jpg" alt="" class="activities__item-img" id="svamp">
            </figure>
            <article>
                <h3>Svampplockning</h3>
                <p class="card-wrapper__card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo libero
                    nihil
                    quas at ex! Sunt ipsa eius pariatur illo? Eos praesentium quibusdam aliquid porro dolorem.
                    Aspernatur
                    amet saepe repellat placeat?
                    Vel minus ducimus hic sed, quas voluptas impedit maxime inventore dignissimos et rerum deserunt.
                </p>
                <p class="card-wrapper__card-p">Eius praesentium neque ullam dicta et,
                    perspiciatis nam accusamus quae, a
                    ipsam natus commodi, repudiandae inventore.
                    Dolores explicabo doloremque, nemo magnam, et officia ea temporibus itaque repudiandae quidem
                    suscipit,
                    veritatis quae sapiente soluta architecto repellendus. </p>

            </article>
        </section>

        <section class="activities__grid-a2">
            <figure>
                <img src="../assets/large/camping.jpg" alt="" class="activities__item-img" id="camping">
            </figure>
            <article>
                <h3>Campa vid industriområdet Aspholmen</h3>
                <p class="card-wrapper__card-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus
                    architecto quos laudantium. Id repellat error odio optio, quas officiis, temporibus saepe neque,
                    quasi suscipit in dolorem? Magnam quam fuga ullam.
                    Tempora a praesentium deserunt quisquam omnis facilis, voluptatibus illum, placeat et, illo
                    voluptate? Sequi natus aspernatur fugiat reprehenderit cupiditate modi incidunt. Sunt doloribus
                    ratione illum eligendi ex inventore quidem deleniti.</p><p class="card-wrapper__card-p">
                    Officiis, repudiandae obcaecati, quos non aliquid unde officia vel consectetur accusamus, impedit
                    totam. Reprehenderit accusamus eaque eos. Iure blanditiis, esse soluta labore ullam animi
                    repudiandae explicabo, ad molestias suscipit velit.
                    Nesciunt dolorem, facilis libero vero culpa nam aliquid sunt, molestias, rerum obcaecati eligendi
                    voluptatibus quasi. Obcaecati eius eveniet facilis dolores consequatur repellendus at eaque, ut
                    deleniti. Aut, non! Necessitatibus, accusamus?
                </p>

        </section>

        <section class="activities__grid-a3">
            <figure>
                <img src="../assets/large/beaver.jpg" alt="" class="activities__item-img" id="beaver">
            </figure>
            <article>
                <h3>Vada med bävrar i Kvismare kanal</h3>
                <p class="card-wrapper__card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo libero
                    nihil
                    quas at ex! Sunt ipsa eius pariatur illo? Eos praesentium quibusdam aliquid porro dolorem.
                    Aspernatur
                    amet saepe repellat placeat?
                    Vel minus ducimus hic sed, quas voluptas impedit maxime inventore dignissimos et rerum deserunt.
                </p>
                <p class="card-wrapper__card-p">Eius praesentium neque ullam dicta et,
                    perspiciatis nam accusamus quae, a
                    ipsam natus commodi, repudiandae inventore.
                    Dolores explicabo doloremque, nemo magnam, et officia ea temporibus itaque repudiandae quidem
                    suscipit,
                    veritatis quae sapiente soluta architecto repellendus. </p>
        </section>

        <section class="activities__grid-a4">
            <figure>
                <img src="../assets/large/utsikt.jpg" alt="" class="activities__item-img" id="utsikt">
            </figure>
            <article>
                <h3>Klättra i Kilsbergen och upptäck fantastiska utsikter</h3>
                <p class="card-wrapper__card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo libero
                    nihil
                    quas at ex! Sunt ipsa eius pariatur illo? Eos praesentium quibusdam aliquid porro dolorem.
                    Aspernatur
                    amet saepe repellat placeat?
                    Vel minus ducimus hic sed, quas voluptas impedit maxime inventore dignissimos et rerum deserunt.
                </p>
                <p class="card-wrapper__card-p">Eius praesentium neque ullam dicta et,
                    perspiciatis nam accusamus quae, a
                    ipsam natus commodi, repudiandae inventore.
                    Dolores explicabo doloremque, nemo magnam, et officia ea temporibus itaque repudiandae quidem
                    suscipit,
                    veritatis quae sapiente soluta architecto repellendus. </p>
        </section>

        <section class="activities__grid-a5">
            <figure>
                <img src="../assets/large/cykel.jpg" alt="" class="activities__item-img" id="cykel">
            </figure>
            <article>
                <h3>Cykla med familjen i Sveriges kanske farligaste cykelstad</h3>
                <p class="card-wrapper__card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo libero
                    nihil
                    quas at ex! Sunt ipsa eius pariatur illo? Eos praesentium quibusdam aliquid porro dolorem.
                    Aspernatur
                    amet saepe repellat placeat?
                    Vel minus ducimus hic sed, quas voluptas impedit maxime inventore dignissimos et rerum deserunt.
                </p>
                <p class="card-wrapper__card-p">Eius praesentium neque ullam dicta et,
                    perspiciatis nam accusamus quae, a
                    ipsam natus commodi, repudiandae inventore.
                    Dolores explicabo doloremque, nemo magnam, et officia ea temporibus itaque repudiandae quidem
                    suscipit,
                    veritatis quae sapiente soluta architecto repellendus. </p>
        </section>

        <section class="activities__grid-a6">
            <figure>
                <img src="../assets/large/flygplan.jpg" alt="" class="activities__item-img" id="flygplats">
            </figure>
            <article>
                <h3>Ta tillfället i akt och åk någon annan stans</h3>
                <p class="card-wrapper__card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo libero
                    nihil
                    quas at ex! Sunt ipsa eius pariatur illo? Eos praesentium quibusdam aliquid porro dolorem.
                    Aspernatur
                    amet saepe repellat placeat?
                    Vel minus ducimus hic sed, quas voluptas impedit maxime inventore dignissimos et rerum deserunt.
                </p>
                <p class="card-wrapper__card-p">Eius praesentium neque ullam dicta et,
                    perspiciatis nam accusamus quae, a
                    ipsam natus commodi, repudiandae inventore.
                    Dolores explicabo doloremque, nemo magnam, et officia ea temporibus itaque repudiandae quidem
                    suscipit,
                    veritatis quae sapiente soluta architecto repellendus. </p>
        </section>

    </section>

    <footer class="footer-wrapper">
        <!-- Footer -->

        <section class="footer__button-up">
            <a href="#the__top">
                <img src="/assets/svg/arrow_up.png" alt="pil" class="footer__button-up__arrow">
            </a>
        </section>

        <ul class="footer-wrapper__ul">
            <li>
                <a href="/views/kontakt.html" class="nav__link link__center">
                    Kontakt
                </a>
            </li>
        </ul>
    </footer>
    <script src="../scripts/jscript.js"></script>
</body>

</html>